*{
    margin: 0;
    padding: 0;
}
body{
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin: 20px;
    border: 20px solid black;
    height: 70vh;
    width: 60vw;
    background-color: pink;

}

.question{
    font-family: cursive;
    background-color: hotpink;
    border-radius: 37px;
    margin: 20px;
    padding: 5px;
    font-size: 15px;

}
.accord{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.answer{
    background-color: mediumpurple;
    font-family: cursive;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    color: wheat;
}


.btn{
    margin: 77px 20px 20px 20px;
    font-family: cursive;
    background: pink;
    border: 2px solid white;
    border-radius: 16px;
    font-size: -webkit-xxx-large;
    cursor: pointer;
}
.active{
    
    background-color: deeppink;
    color: white;
    border: 5px solid black;
}